.form-wrapper{
    height: 100vh;
}

.form-wrapper form{
    width: 30%;
}

.form-wrapper form input{
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    padding-left: 0px;
    font-size: 14px;
}
.form-wrapper form input:focus-visible{
    outline: none;
}
.form-wrapper form input:focus{
    box-shadow: none;
    border-bottom: 1px solid black;
}
.biosite-login {
    text-align: end;
    padding-right: 20px;
    padding-top: 20px;
}
.biosite-login button{
   background: transparent;
   border: 0;
   text-decoration: underline;
   text-underline-position: under;
}