/** @format */

* {
	box-sizing: border-box;
}
body {
	background-color: #d6e1ff;
	/* overflow: hidden; */
}
.pay-horizental-heading img {
	width: 80px;
	padding-top: 0;
}
.pay-main-content {
	padding: 30px 20px;
	background: #ffffff;
	box-shadow: 0px 0px 50px rgb(0 0 0 / 10%);
	width: 400px;
	margin: 0 auto;
	border-radius: 30px;
}
button.btn.btn-theme-pay:hover {
	color: #ffffff;
}
.pay-button button {
	width: 100%;
	background: #0a2540;
	color: #ffffff;
	/* margin-bottom: 50px; */
	font-size: 18px;
	border-radius: 7px;
	padding: 6px 0;
	border: 0;
}
.pay-card-content form .form-group label {
	width: 100%;
	font-weight: 500;
	padding-bottom: 8px;
	display: block;
	color: #425466;
}
.pay-card-content form .form-group input {
	outline: 0;
}
.pay-cvs-date {
	display: flex;
	justify-content: space-around;
}
.pay-card-content form .form-group select {
	width: 100%;
	height: 40px;
	border: 1px solid #ced4da;
	border-radius: 5px 5px 0 0;
	outline: 0;
	padding-left: 10px;
	padding-right: 15px;
	color: #8d8787;
	border-bottom: 0;
}
.pay-section {
	width: 100%;
	height: calc(100vh);
	display: flex;
	justify-content: center;
	padding: 0px 0 0;
	align-items: center;
}
.pay-payment-method {
	border: 1px solid;
}
.pay-select-payment-card {
	display: flex;
	justify-content: space-between;
	padding: 5px 14px;
	border-bottom: 1px solid #c1bfbf;
}
.pay-payment-heading input {
	border: 0;
}
.pay-payment-method {
	border: 1px solid #ced4da;
	border-radius: 5px;
	/* margin-top: 24px; */
	/* padding: 0 3px; */
}
.pay-payment-method .col-lg-6:first-child {
	padding-right: 0;
}
.pay-horizental-heading h1 {
	font-size: 21px;
	margin: 0;
	font-weight: 500;
}
.pay-payment-method .col-lg-6:nth-child(2) {
	padding-left: 0;
}
.pay-payment-card-number input.form-control.form-card-number {
	width: 100%;
	position: relative;
	margin-left: 0;
	height: 35px;
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
	border-radius: 0 0 5px 0;
	border-top: 0;
}
.pay-payment-card-number {
	position: relative;
}
.pay-horizental-heading p {
	margin-bottom: 4px;
	font-size: 14px;
	margin-top: 2px;
}
.pay-default-card {
	position: absolute;
	top: 2px;
	right: 0px;
}
.pay-payment-date {
	position: relative;
	left: -6px;
}
.pay-default-card img {
	width: 30px;
}
.pay-payment-date input.form-control.form-date:focus {
	box-shadow: 0;
	outline: 0;
}
.pay-payment-date input.form-control.form-date {
	width: 100%;
	border-top: 0;
	margin-left: 0;
	font-size: 14px;
	box-shadow: 0;
	outline: 0;
	border-bottom: 0;
	border-left: 0;
	height: 35px;
	border-radius: 0 0 0 5px;
	border-color: #c2bdbd;
}
.pay-card-row span.mastercard,
.pay-card-row span.amex,
.pay-card-row span.discover,
.pay-card-row span.visa {
	margin-right: 8px;
}
.form-group.pay-form-label input {
	/* display: block; */
}
.form-email {
	height: 40px;
	width: 100%;
	font-size: 14px;
	color: #8d8787;
	border-radius: 5px;
	border: 1px solid #ced4da;
	padding: 10px;
	/* margin: 0 0 12px; */
}
.pay-payment-heading input {
	padding-top: 10px;
	font-size: 14px;
}
.pay-fancy-heading {
	line-height: 0.5;
	text-align: center;
	position: relative;
	margin: 20px 0;
}
.pay-fancy-heading h2 {
	display: inline-block;
	position: absolute;
	top: -5px;
	width: 155px;
	margin: 0 auto;
	right: 0;
	left: 0;
	font-size: 18px;
	font-weight: 400;
	background-color: #ffffff;
	color: #425466;
}
.pay-fancy-heading h2:before,
.pay-fancy-heading h2:after {
	/* content: ""; */
	position: absolute;
	height: 5px;
	border-top: 1px solid #000000;
	top: 4px;
	width: 600px;
}
.pay-fancy-heading h2:before {
	right: 110%;
	width: 75%;
}
.pay-fancy-heading h2:after {
	left: 110%;
	width: 75%;
}
form {
	/* width: 85%; */
	/* margin: 0 auto; */
}
.pay-horizental-heading {
	text-align: center;
}
.form-group {
	margin: 8px 0 0;
}

.pay-button {
	margin-top: 28px;
}
div#field-wrapper {
	position: relative;
	padding: 0;
	display: block;
	border: 1px solid #ced4da;
	border-radius: 5px;
}
#field-wrapper > :nth-child(1) {
	position: absolute;
	right: 10px;
	top: 9px;
	z-index: 99;
	height: 20px;
}
#field-wrapper > :nth-child(2) {
	background: rgb(103, 34, 34);
	width: 100%;
	margin: 0;
	display: unset;
}
#field-wrapper > :nth-child(2)::after,
#field-wrapper > :nth-child(3)::after {
	content: unset;
}
#field-wrapper > :nth-child(3) {
	background: rgb(39, 155, 95);
	width: 50%;
	margin: 0;
	display: contents;
	/* padding: 16px; */
}

#field-wrapper > :nth-child(4) {
	background: black;
	width: 50%;
	margin: 0;
	display: contents;
}
#field-wrapper > :nth-child(5) {
	display: none;
}
input#card-number {
	width: 100%;
	height: 40px;
	padding: 10px;
	font-size: 14px;
	color: #8d8787;
	border-bottom: 1px solid #ced4da;
	border-top: none;
	border-right: none;
	border-left: none;
}

input#card-expiry {
	width: 50%;
	position: unset;
	padding: 8px;
}
#field-wrapper .credit-card-input {
	border: 1px solid red;
}

#field-wrapper > :nth-child(2) input {
	width: 100%;
	height: 40px;
	padding: 10px;
	font-size: 14px;
	color: #8d8787;
	border-bottom: 1px solid #ced4da;
	border-top: none;
	border-right: none;
	border-left: none;
}
#field-wrapper > :nth-child(3) input {
	height: 40px;
	padding: 10px;
	font-size: 14px;
	color: #8d8787;
	border: none;
	border-right: 1px solid #ced4da;
}
#field-wrapper > :nth-child(4) input {
	height: 40px;
	padding: 10px;
	border: none;
	font-size: 14px;
	color: #8d8787;
	border: none;
}
#field-wrapper > :nth-child(4) input {
	height: 40px;
	padding: 10px;
	font-size: 14px;
	color: #8d8787;
	border: none;
	width: 50%;
}
.hr {
	height: 1px;
	border-width: 0px;
	background-color: #ced4da;
}
.cardsimage {
	width: 40%;
	position: absolute;
	top: 35px;
	right: 11px;
	z-index: 999;
}
.card-info {
	position: relative;
}
@media screen and (max-width: 420px) {
	.pay-main-content {
		width: 90%;
	}
	.pay-section {
		/* height: calc(100vh - 100px); */
	}
}
img.csvimage {
	position: absolute;
	top: 82px;
	right: 8px;
	z-index: 99;
	width: 30px;
}
/* .country_region {
	padding: 0;
	display: block;
	border: 1px solid #ced4da;
	border-radius: 5px;
} */
.form-group.country_region input.form-control.form-email {
	border-radius: 0 0 5px 5px;
}
